@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    --text-primary: #1976d2;
    --text-secondary: #125393;
    --warning: #ff4c60;

    --bg-white: #fff;
    --bg-lite: #f9f9fe;

    --btn-primary-bg: #4b4870;
    --btn-primary-text: #fff;

    --btn-secondary-bg: #ff4c60;
    --btn-secondary-text: #fff;
}

#root {
    background-color: var(--bg-lite);
    min-height: 100vh;
    color: var(--text-secondary);

    font-family: "Inter", sans-serif;
}

.custom-width {
    max-width: 1280px;
    padding: 0.5rem 1rem;
    margin: auto;
}
.custom-width-nospace {
    padding: 0px;
}

/* Stripe styles Start*/

#stripe_parentt form {
    max-width: 100%;
    margin: 80px auto;
}

#stripe_parentt label {
    color: #6b7c93;
    font-weight: 300;
    letter-spacing: 0.025em;
    margin-top: 16px;
    display: block;
}

#stripe_parentt button {
    white-space: nowrap;
    border: 0;
    outline: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 28px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: #6772e5;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin-top: 10px;
}

#stripe_parentt button:hover {
    color: #fff;
    cursor: pointer;
    background-color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

#stripe_parentt button[disabled] {
    opacity: 0.6;
}

#stripe_parentt input,
#stripe_parentt select {
    display: block;
    border: none;
    font-size: 18px;
    margin: 10px 0 20px 0;
    max-width: 100%;
    padding: 10px 14px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border-radius: 4px;
    background: white;
    color: #424770;
    letter-spacing: 0.025em;
    width: 500px;
}

#stripe_parentt input::placeholder {
    color: #aab7c4;
}

#stripe_parentt .result,
#stripe_parentt .error {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

#stripe_parentt .error {
    color: #e4584c;
}

#stripe_parentt .result {
    color: #666ee8;
}
#stripe_parentt .StripeElement,
#stripe_parentt .StripeElementIdeal,
#stripe_parentt .StripeElementP24,
#stripe_parentt .StripeElementEPS,
#stripe_parentt .StripeElementFpx {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border-radius: 4px;
    background: white;
}

#stripe_parentt .StripeElement--focus,
#stripe_parentt .StripeElementIdeal--focus,
#stripe_parentt .StripeElementP24--focus,
#stripe_parentt .StripeElementEPS--focus,
#stripe_parentt .StripeElementFpx--focus {
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

#stripe_parentt .StripeElement.loading {
    height: 41.6px;
    opacity: 0.6;
}

#stripe_parentt .StripeElementIdeal,
#stripe_parentt .StripeElementP24,
#stripe_parentt .StripeElementEPS,
#stripe_parentt .StripeElementFpx {
    padding: 0;
}
